@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ViewBag.Title = "Contact";


    ViewBag.ShowSlider = false;
}
@* <link rel="stylesheet" href="~/assets/css/main.css">
 *@

<section class="container" style="visibility:hidden;">

    <article class="row">

        <div class="breadcrumb">

            <a href="#">Home</a> <span>❯❯</span>

            <span class="current">i-flex</span>

        </div>

    </article>

</section>
<link href="~/assets/css/main.css" rel="stylesheet" />
<section class="container about-us-section">
    <div class="row justify-content-between">
        <!-- Left Content -->

        <article class="col-md-6">
            <div class="banner-left">
                <h1 class="animate__animated animate__fadeInUp animate__delay-1s">
                    Powering Connectivity with Innovative <br /> Network <br /> Solutions
                </h1>
            </div>
        </article>
        <!-- Right Content -->
        <article class="col-md-6">
            <article class="banner-right">
                <article class="banner-card animate__animated animate__fadeInUp animate__delay-2s">
                    <h2>About Interconnect Solutions</h2>
                    <p>
                        Throughout the years, Interconnect solutions has evolved and grown to be the preferred network & power
                        solutions provider for various industries
                    </p>
                </article>

            </article>
        </article>
    </div>
</section>

<!-- product -->

<section class="container container-layout">
    <article class="d-flex align-items-center justify-content-between first-row-content">

        <h1 data-aos="fade-up">Driving Innovation in <br /> Network & Power Infrastructure</h1>

      @*   <article class="action-button d-flex justify-content-end gap-3 flex-grow-1" data-aos="fade-up"
                 data-aos-delay="300">
            <a href="@Url.Action("About", "Home")" class="explore-btn">Explore Our Story <i class="fa-solid fa-arrow-up-long btn-icon"></i></a>
            <a href="@Url.Action("Solutions", "Home")" class="discover-btn">Discover Solutions <i class="fa-solid fa-arrow-up-long btn-icon"></i></a>
        </article> *@
    </article>

    <article class="second-row-content mt-5">
        <article data-aos="zoom-in" data-aos-delay="300">
            <p>
                Interconnect Solutions is a leading provider of advanced interconnect and RF technologies, offering cutting-edge passive RF Distributed Antenna Systems (DAS) for in-building coverage as well as high-performance RF passive products for telecom outdoor solutions.

                Our state-of-the-art manufacturing processes and commitment to excellence enable us to design and produce passive components with exceptionally low VSWR and the lowest PIM ratings, ensuring superior performance and reliability.

                With a comprehensive product portfolio, Interconnect Solutions meets the diverse requirements of modern in-building and outdoor telecom networks. Our solutions support a wide range of cellular standards, including GSM900, DCS1800/PCS1900, CDMA, UMTS, HSDPA, LTE, and WiMAX.

               </p>
        </article>
        <article class="images-container">
            <picture>
                <img src="~/assets/images/bg/driving-innovation-small.png" alt="People with laptop image" data-aos="zoom-in"
                     data-aos-delay="500" />
            </picture>
            <picture>
                <img src="~/assets/images/bg/driving-innovation-big.png" alt="People with laptop image" data-aos="zoom-in"
                     data-aos-delay="300" />
            </picture>
        </article>

    </article>
</section>

<!-- wireless -->
<section class="container iflex-wireless-section">
    <article class="iflex-wireless-container">
        <!-- Left Image -->
        <article class="iflex-wireless-image" data-aos="zoom-in" data-aos-delay="300">
            <img src="~/assets/images/bg/anticipating.png" alt="Wireless Infrastructure" />
        </article>

        <!-- Right Content -->
        <article class="iflex-wireless-content">
            <h1 data-aos="zoom-in" data-aos-delay="400">
                Anticipating Tomorrow’s Needs, Delivering Today’s Solutions
            </h1>
            <p data-aos="zoom-in" data-aos-delay="500">
                Interconnect Solutions has always stayed true to its commitment in delivering excellent quality products and
                services. Moreover, Interconnect Solutions is driven by a team of experts, who ensure that the latest
                innovations and manufacturing processes are implemented, so that it can exceed in meeting standards of the
                highest quality and performance. <br /> <br /> At Interconnect Solutions, we are known for our ability to
                anticipate the
                demand of future markets with progressive research & development. We continuously monitor and interpret the
                industry trends so that we can meet the ever changing needs of the market.
            </p>
        </article>
    </article>
</section>