@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ViewBag.Title = "Contact";


    ViewBag.ShowSlider = false;
}

<link href="~/assets/css/main.css" rel="stylesheet" />


<section class="container career-banner">
    <div class="row justify-content-between">
        <!-- Left Content -->

        <article class="col-md-6">
            <div class="banner-left">
                <h1 class="animate__animated animate__fadeInUp animate__delay-1s">
                    Empowering <br />
                    Industries with <br />
                    High-<br />
                    Performance RF <br />
                    Cable Solutions
                </h1>
            </div>
        </article>
        <!-- Right Content -->
        <article class="col-md-5">
            <article class="banner-right">
                <article class="banner-card animate__animated animate__fadeInUp animate__delay-2s">
                    <h2>About i-flex</h2>
                    <h2> hr@i-sol.co.uk</h2>
                </article>
            </article>
        </article>
    </div>
</section>

<!-- product -->

<section class="container container-layout my-5">
    <article class="d-flex align-items-center justify-content-between first-row-content">

        <h1 data-aos="fade-up">
            Explore Opportunities. <br /> Build Your Future with Interconnect
            Solutions.
        </h1>
        

        <article class="action-button d-flex justify-content-end gap-3 flex-grow-1" data-aos="fade-up"
                 data-aos-delay="300">
            <a href="Home/about" class="explore-btn">Explore Our Story <i class="fa-solid fa-arrow-up-long btn-icon"></i></a>
            <a href="Home/solutions" class="discover-btn">Discover Solutions <i class="fa-solid fa-arrow-up-long btn-icon"></i></a>

        </article>
    </article>
   
    <article class="second-row-content mt-5">
        <article data-aos="zoom-in" data-aos-delay="300">
            <p>
                We’re passionate about our customers – they are at the heart of what we do. We actively recruit
                talent who share our commitment to service, innovation and exceeding expectations.
                Throughout the organisation, we consistently aim for an excellence in customer service and
                performance, and at every level, we are encouraged to be dynamic and innovative, to show respect for
                one another and to build excellent working relationships.
                We have a culture of learning, growth and advancement, allowing us to take control of our career
                paths, plan our personal development objectives, and discover the many opportunities available to
                us.Apply with confidence at <a href="#">hr@i-sol.co.uk</a>
            </p>
        </article>
        <article class="images-container">
            <picture>
                <img src="~/assets/images/bg/explore-opertunity-small.jpg" alt="People with laptop image"
                     data-aos="zoom-in" data-aos-delay="500" />
            </picture>
            <picture>
                <img src="~/assets/images/bg/explore-opertunity-big.jpg" alt="People with laptop image"
                     data-aos="zoom-in" data-aos-delay="300" />
            </picture>
        </article>

    </article>
</section>
