<article class="container i-flex-solution-details-banner p-0">
    <img src="/assets/images/solutions/i-connect-DataCentre-Web-banner.jpg"
         alt="I-flex-solution-details-banner"
         class="img-fluid w-100">
</article>


<article class="container my-5">

    <!-- ✅ Tab Navigation -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link text-black"
                    id="home-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#home-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="home-tab-pane"
                    aria-selected="false">
                Solution Overview
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link text-black"
                    id="products-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#products-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="products-tab-pane"
                    aria-selected="false">
                Products
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link text-black active"
                    id="contact-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#contact-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="contact-tab-pane"
                    aria-selected="true">
                Enquiry
            </button>
        </li>
    </ul>

    <!-- ✅ Tab Content -->
    <div class="tab-content bg-white border" id="myTabContent">

        <!-- Solution Overview -->
        <div class="tab-pane fade"
             id="home-tab-pane"
             role="tabpanel"
             aria-labelledby="home-tab">
            <img src="/assets/images/solutions/datacenter-Solution-Overview.png"
                 alt="Solution Overview Img"
                 class="img-fluid">
        </div>

        <!-- Products -->
        <div class="tab-pane fade"
             id="products-tab-pane"
             role="tabpanel"
             aria-labelledby="products-tab">
            <article class="row gap-2 p-5">

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/DataCenterSolution/1.png" class="img-fluid" alt='Indoor Tight Buffer Cable'>
                    </picture>
                    <figcaption>
                        <h4>Indoor Tight Buffer Cable</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/DataCenterSolution/2.png" class="img-fluid" alt='Multi Loose Tube Cable'>
                    </picture>
                    <figcaption>
                        <h4>Multi Loose Tube Cable</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/DataCenterSolution/3.png" class="img-fluid" alt='Fibre Optics Connectors'>
                    </picture>
                    <figcaption>
                        <h4>Fibre Optics Connectors</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/DataCenterSolution/4.png" class="img-fluid" alt='Fibre Patch Cords'>
                    </picture>
                    <figcaption>
                        <h4>Fibre Patch Cords</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/DataCenterSolution/5.png" class="img-fluid" alt='CAT 6 LAN Cable'>
                    </picture>
                    <figcaption>
                        <h4>CAT 6 LAN Cable</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/DataCenterSolution/6.png" class="img-fluid" alt='CAT 6A LAN Cable'>
                    </picture>
                    <figcaption>
                        <h4>CAT 6A LAN Cable</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/DataCenterSolution/7.png" class="img-fluid" alt='CAT 7A LAN Cable'>
                    </picture>
                    <figcaption>
                        <h4>CAT 7A LAN Cable</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/DataCenterSolution/8.png" class="img-fluid" alt='Floor Standing Cabinets'>
                    </picture>
                    <figcaption>
                        <h4>Floor Standing Cabinets</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/DataCenterSolution/9.png" class="img-fluid" alt='Open Racks'>
                    </picture>
                    <figcaption>
                        <h4>Open Racks</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/DataCenterSolution/10.png" class="img-fluid" alt='PDUs'>
                    </picture>
                    <figcaption>
                        <h4>PDUs</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>



            </article>
        </div>

        <!-- Enquiry -->
        <div class="tab-pane fade active show"
             id="contact-tab-pane"
             role="tabpanel"
             aria-labelledby="contact-tab">
            <article class="row align-items-stretch p-5">
                <article class="col-md-4">
                    <img src="/assets/images/bg/contact-us.png"
                         alt="Contact Us Img"
                         class="img-fluid h-100 rounded-4">
                </article>
                <article class="col-md-8">
                    <h3>Request A Quote</h3>

                    <input type="text" placeholder="Name*" class="form-control mb-3" required>
                    <input type="number" placeholder="Number*" class="form-control mb-3" required>
                    <input type="text" placeholder="Company Name*" class="form-control mb-3" required>
                    <input type="email" placeholder="Email*" class="form-control mb-3" required>

                    <select class="form-select mb-3" aria-label="Territory selection">
                        <option selected>Territory *</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                    <textarea class="form-control" placeholder="Message..." rows="5"></textarea>

                    <button class="mt-4 btn btn-dark">
                        Submit <i class="fa-solid fa-arrow-up"></i>
                    </button>
                </article>
            </article>
        </div>

    </div>
</article>
