@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ViewBag.Title = "Contact";


    ViewBag.ShowSlider = false;
}
@* <link rel="stylesheet" href="~/assets/css/main.css">
 *@
<link href="~/assets/css/main.css" rel="stylesheet" />


<section class="container event-banner">
    <div class="row justify-content-between">
        <!-- Left Content -->

        <article class="col-md-6">
            <div class="banner-left">
                <h1 class="animate__animated animate__fadeInUp animate__delay-1s">
                    Stay Updated With <br /> the Latest <br /> From <br /> Interconnect Solutions
                </h1>
            </div>
        </article>
        <!-- Right Content -->
        <article class="col-md-5">
            <article class="banner-right">
                <article class="banner-card animate__animated animate__fadeInUp animate__delay-2s">
                    <article>
                        <button>No news for now...!!</button>
                    </article>
                    <h2>News and Events</h2>
                    <p>
                        Discover the latest updates, announcements, and industry events from Interconnect Solutions.
                        Stay connected with our milestones and activities as we continue driving innovation in
                        network and power solutions.
                    </p>
                </article>

            </article>
        </article>
    </div>
</section>

<section class="container my-5 events">
    <h3 class="text-center" data-aos="fade-up" data-aos-delay="300">Events</h3>

    <article class="row bg-white p-4 shadow rounded-3 my-5" data-aos="fade-up" data-aos-delay="300">
        <article class="col-md-5">
            <span class="date">12 aug 2024</span>
            <h3 class="my-4">Thank you for Joining i-flex and i-connect at Gitex2019</h3>
            <p>
                We would like to thank you for taking the time to visit the i-flex and i-connect stand at Gitex
                Technology Week 2019...
            </p>

            <button class="continue-button">CONTINUE READING <i class="fa-solid fa-arrow-up"></i></button>
        </article>
        <article class="col-md-7">
            <img src="~/assets/images/events/event-image.png" alt="Events" class="img-fluid">
        </article>
    </article>
</section>