

<section class="container container-layout solution-container">
    <article class="d-flex align-items-center justify-content-between first-row-content">

        <h1 class="animate__animated animate__fadeInUp animate__delay-1s">
            Innovative Network &amp; <br> Power
            Solutions
        </h1>

        <article class="action-button d-flex justify-content-end gap-3 flex-grow-1 animate__animated animate__fadeInUp animate__delay-2s aos-init aos-animate" data-aos="fade-up">
            <a href="about-us.html" class="explore-btn">
                Explore Our Story <i class="fa-solid fa-arrow-up-long btn-icon"></i>
            </a>
            <a href="solution.html" class="discover-btn">
                Discover Solutions <i class="fa-solid fa-arrow-up-long btn-icon"></i>
            </a>
        </article>
    </article>

    <article class="second-row-content mt-5">
        <article class="animate__animated animate__zoomIn animate__delay-3s">
            <p>
                i-connect is uniquely positioned to help you in transforming, organizing and growing your network / business. We act as your partner, with unprecedented knowledge about products and services to help you to execute profitably – so you can be where you need to be, and go where you want to go.
                Our heritage of innovation arises from last many years and continues till today, enabling us to lead the future. Our motto, “Making the Right Connection”, affirms our commitment to become a true partner. We work alongside our customers to build solutions that fit their needs and we provide full support for each phase of a project’s life cycle including supply, implementation, integration, training, consulting and customer support services. Our solutions are designed to provide you with reliable, cost effective methods that meet all your or your customer’s requirements
            </p>
        </article>
        <article class="images-container">
            <picture>
                <img src="/assets/images/solutions/network-and-power-small.jpg" alt="People with laptop image" class="animate__animated animate__zoomIn animate__delay-5s">
            </picture>
            <picture>
                <img src="/assets/images/solutions/network-and-power-big.jpg" alt="People with laptop image" class="animate__animated animate__zoomIn animate__delay-4s">
            </picture>
        </article>

    </article>
</section>

<section class="container my-5">
    <h2 class="text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">Our Solutions</h2>

    <article class="solution-product-cards-container mt-5">
        <figure class="solution-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <a href="https://localhost:44368/fibre-to-the-home">
                <picture class="card-img">



                    <img src="/assets/images/solutions/iconnectFTTH1.png" alt="project planning image" class="img-fluid">


                </picture>
            </a>
            <figcaption>
                <h3>Fibre to the Home (FTTH)</h3>
            </figcaption>
        </figure>
        <figure class="solution-card aos-init" data-aos="fade-up" data-aos-delay="400">
            <a href="https://localhost:44368/data-centre-solution">
                <picture class="card-img">
                    <img src="/assets/images/solutions/iconnectdatacenter.png" alt="Installation and Commissioning image">

                </picture>
            </a>

            <figcaption>
                <h3>Data Centre Solution</h3>
            </figcaption>
        </figure>





        <figure class="solution-card aos-init" data-aos="fade-up" data-aos-delay="500">
            <a href="http://115.186.179.188:8089/enterprise-buildings">
                <picture class="card-img">
                    <img src="/assets/images/solutions/iconnectenterprise.jpg" alt="Help in activating Networks image" class="img-fluid">

                </picture>
            </a>
            <figcaption>
                <h3>Enterprise Buildings</h3>
            </figcaption>
        </figure>





        <figure class="solution-card aos-init" data-aos="fade-up" data-aos-delay="600">
            <a href="http://115.186.179.188:8089/structured-cabling">
                <picture class="card-img">
                    <img src="/assets/images/solutions/iconnectStructured-Cabling.jpg" alt="Support in Operating Networks image" class="img-fluid">

                </picture>
            </a>

            <figcaption>
                <h3>Structured Cabling </h3>
            </figcaption>
        </figure>
    

    </article>
</section>