@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ViewBag.Title = "I-FLex";


    ViewBag.ShowSlider = false;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interconnect Solutions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
@*  //   <link rel="stylesheet" href="~/assets/css/i-flex.css" />
 *@	<link href="~/assets/css/i-flex.css" rel="stylesheet" />
	
</head>

<body>
  
    <!-- Navbar -->
    <!-- Breadcrumb -->
    <section class="container">
        <article class="row">
            <div class="breadcrumb">
                <a href="#">Home</a> <span>&#10095;&#10095;</span>
                <span class="current">i-flex</span>
            </div>
        </article>
    </section>

    <!-- About Section -->
    <section class="container iflex-section">
        <div class="row justify-content-between">
            <!-- Left Content -->

            <article class="col-md-6">
                <div class="iflex-left">
                    <h1 class="animate__animated animate__fadeInUp animate__delay-1s">
                        Empowering <br />
                        Industries with <br />
                        High-<br />
                        Performance RF <br />
                        Cable Solutions
                    </h1>
                </div>
            </article>
            <!-- Right Content -->
            <article class="col-md-5">
                <article class="iflex-right">
                    <article class="iflex-card animate__animated animate__fadeInUp animate__delay-2s">
                        <h2>About i-flex</h2>
                        <p>
                            i-flex is a leading brand of Interconnect Solutions, which
                            provides the most advanced passive RF Distributed Antenna System
                            (DAS) for in-building coverage as well as RF passive products for
                            Telecom outdoor solutions.
                        </p>
                    </article>
                    <!-- <article class="empty-box"></article> -->
                    <picture class="iflex-badge animate__animated animate__fadeInUp animate__delay-3s">
@*                         <img src="~/assets/images/client-logo-icons/i-flex.png" alt="i-flex logo" class="img-fluid" />
 *@                        <img src="~/assets/images/client-logo-icons/i-flex.png" alt="i-flex logo" class="img-fluid" />


                    </picture>
                </article>
            </article>
        </div>
    </section>

    <!-- product -->

    <section class="container container-layout">
        <article class="d-flex align-items-center justify-content-between first-row-content">

            <h1 data-aos="fade-up">Innovating Connectivity <br />with i-Flex RF Products</h1>

            <article class="action-button d-flex gap-3" data-aos="fade-up" data-aos-delay="300">
                <button class="explore-btn">Explore Our Story <i class="fa-solid fa-arrow-up-long btn-icon"></i></button>
                <button class="discover-btn">Discover Solutions <i class="fa-solid fa-arrow-up-long btn-icon"></i></button>
            </article>
        </article>

        <article class="second-row-content mt-5">
            <article data-aos="zoom-in" data-aos-delay="300">
                <p>
                    i-flex is a leading brand of Interconnect <br /> Solutions, which provides
                    the most advanced <br /> passive RF Distributed Antenna System (DAS) <br /> for
                    in-building coverage as well as RF passive products for Telecom
                    outdoor solutions. Our state of the art processes make it possible
                    for us to develop passive products with low <br /> VSWR and lowest PIM
                    ratings. Moreover, i-flex offers a comprehensive product portfolio
                    that fits to all IBS networking needs. Noticeably, i-flex IBS caters
                    for cellular standards such as GSM900, DCS1800/PCS1900, CDMA, UMTS,
                    HSDPA, LTE and WiMAX. i-flex passive products are being used by many
                    operators around the globe, and have been installed in
                    multi-dwelling high rise units, office complexes, airports, stadium,
                    exhibition centres, hotels, as well as shopping malls.
                </p>
            </article>
            <article class="images-container">
                <picture>
                    <img src="~/assets/images/i-flex/iflex-circuit.png" alt="People with laptop image" data-aos="zoom-in"
                         data-aos-delay="500" />

                </picture>
                <picture>
                    <img src="~/assets/images/i-flex/iflex-product.png" alt="People with laptop image" data-aos="zoom-in"
                         data-aos-delay="300" />
                </picture>
            </article>

        </article>
    </section>

    <!-- wireless -->
    <section class="container iflex-wireless-section">
        <article class="iflex-wireless-container">
            <!-- Left Image -->
            <article class="iflex-wireless-image" data-aos="zoom-in" data-aos-delay="300">
                <img src="~/assets/images/i-flex/i-flex wireless.png" alt="Wireless Infrastructure" />
            </article>

            <!-- Right Content -->
            <article class="iflex-wireless-content">
                <h1 data-aos="zoom-in" data-aos-delay="400">
                    Delivering Reliable <br />
                    Wireless <br /> Infrastructure, Globally
                </h1>
                <p data-aos="zoom-in" data-aos-delay="500">
                    Here at Interconnect Solutions, we understand that the demand for
                    reliable, high speed wireless coverage is growing exponentially with
                    time. Users are increasing the level of expectation, because of
                    which, network infrastructures are often pushed to the limit. DAS
                    (Distributed Antenna System) is an important piece in the middle
                    which can assist in meeting customer demand, and it’s a system that
                    i-flex understands and holds expertise in. We stock a comprehensive
                    range of indoor and outdoor passive products for every conceivable
                    application. All product types illustrated are considered as
                    standard items and are always available for delivery. We have an
                    experienced and dedicated team of people available, who are willing
                    to assist and advise. Furthermore, our business policy of continuing
                    investment in the best available product technology, product
                    handling, warehouse management and delivery procedures, enable us to
                    guarantee an extremely high quality product, as well as high quality
                    service to all our customers. We welcome enquiries from customers
                    worldwide. Our export services are reliable and highly efficient,
                    with the ability to ship the products safely by sea or air to any
                    desired destination across the globe.
                </p>
            </article>
        </article>
    </section>

</body>

</html>