<section class="container product-line-banner">
    <div class="row justify-content-between">
        <!-- Left Content -->

        <article class="col-md-6">
            <div class="banner-left">
                <h1 class="animate__animated animate__fadeInUp animate__delay-1s">
                    RF Feeder <br /> Cables Built for Reliable <br /> Connectivity
                </h1>
            </div>
        </article>
        <!-- Right Content -->
        <article class="col-md-5">
            <article class="banner-right">
                <article class="banner-card animate__animated animate__fadeInUp animate__delay-2s">
                    <h2>Radio Frequency Cables</h2>
                    <p>
                        RF (Radio Frequency) cables are specialized coaxial cables designed to transmit radio
                        frequency signals with minimal loss and maximum efficiency. They are essential components in
                        wireless communication systems, ensuring reliable signal transfer between antennas,
                        transmitters, and receivers.
                    </p>

                    <article class="banner-button-container">
                        <a href="#" class="explore-button">
                            Explore Rf cables <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </article>
                </article>
                <!-- <article class="empty-box"></article> -->
                <picture class="banner-badge animate__animated animate__fadeInUp animate__delay-3s">
                    <img src="~/assets/images/client-logo-icons/i-flex.png" alt="i-flex logo" class="img-fluid" />
                </picture>
            </article>
        </article>
    </div>
</section>




<!-- product-cards -->
<section class="container products">
    <h2 class="section-title" data-aos="fade-up">i-flex Product Line Products</h2>
    <article class="products-container">
        <figure class="product-card" data-aos="fade-up" data-aos-delay="300">
            <picture>
                <img src="~/assets/images/rf-cables/Rf-feeder-cable.png" class="img-fluid" alt="RF Cable" />
            </picture>
            <figcaption>
                <h4>RF cables</h4>
                <a href="product-details.html">Call for pricing <i class="fa-solid fa-chevron-right"></i></a>
            </figcaption>
        </figure>

        <figure class="product-card" data-aos="fade-up" data-aos-delay="400">
            <picture>
                <img src="~/assets/images/rf-cables/Rf-leeky-cable.png" class="img-fluid" alt="RF Combiner" />
            </picture>
            <figcaption>
                <h4>RF combiners</h4>
                <a href="product-details.html">Call for pricing <i class="fa-solid fa-chevron-right"></i></a>
            </figcaption>
        </figure>

        <figure class="product-card" data-aos="fade-up" data-aos-delay="500">
            <picture>
                <img src="~/assets/images/rf-cables/Rf-adapters.png" class="img-fluid" alt="RF Antenna" />
            </picture>
            <figcaption>
                <h4>RF antenna</h4>
                <a href="product-details.html">Call for pricing <i class="fa-solid fa-chevron-right"></i></a>
            </figcaption>
        </figure>

        <figure class="product-card" data-aos="fade-up" data-aos-delay="600">
            <picture>
                <img src="~/assets/images/rf-cables/tower-attenuators.png" class="img-fluid"
                     alt="Tower Accessories" />
            </picture>
            <figcaption>
                <h4>Tower accessories</h4>
                <a href="product-details.html">Call for pricing <i class="fa-solid fa-chevron-right"></i></a>
            </figcaption>
        </figure>

        <figure class="product-card" data-aos="fade-up" data-aos-delay="300">
            <picture>
                <img src="~/assets/images/rf-cables/RF-terminationloads.png" class="img-fluid" alt="POI" />
            </picture>
            <figcaption>
                <h4>POI (point of interface)</h4>
                <a href="product-details.html">Call for pricing <i class="fa-solid fa-chevron-right"></i></a>
            </figcaption>
        </figure>

        <figure class="product-card" data-aos="fade-up" data-aos-delay="400">
            <picture>
                <img src="~/assets/images/rf-cables/Cavity-power-splitters.png" class="img-fluid"
                     alt="RF Connector" />
            </picture>
            <figcaption>
                <h4>RF connectors</h4>
                <a href="product-details.html">Call for pricing <i class="fa-solid fa-chevron-right"></i></a>
            </figcaption>
        </figure>
        <figure class="product-card" data-aos="fade-up" data-aos-delay="400">
            <picture>
                <img src="~/assets/images/rf-cables/High-powerdirectionalcouplers.png" class="img-fluid"
                     alt="RF Connector" />
            </picture>
            <figcaption>
                <h4>RF connectors</h4>
                <a href="product-details.html">Call for pricing <i class="fa-solid fa-chevron-right"></i></a>
            </figcaption>
        </figure>
    </article>
</section>