<article class="container i-flex-solution-details-banner">
    <img src="/assets/images/solutions/Stadium-DAS-Banner.png"
         alt="I-flex-solution-details-banner"
         class="img-fluid">
</article>

<article class="container my-5">

    <!-- ✅ Tab Navigation -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link text-black"
                    id="home-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#home-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="home-tab-pane"
                    aria-selected="false">
                Solution Overview
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link text-black"
                    id="products-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#products-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="products-tab-pane"
                    aria-selected="false">
                Products
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link text-black active"
                    id="contact-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#contact-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="contact-tab-pane"
                    aria-selected="true">
                Enquiry
            </button>
        </li>
    </ul>

    <!-- ✅ Tab Content -->
    <div class="tab-content bg-white border" id="myTabContent">

        <!-- Solution Overview -->
        <div class="tab-pane fade"
             id="home-tab-pane"
             role="tabpanel"
             aria-labelledby="home-tab">
            <img src="/assets/images/solutions/Stadium-Solution-Overview.png"
                 alt="Solution Overview Img"
                 class="img-fluid">
        </div>

        <!-- Products -->
        <div class="tab-pane fade"
             id="products-tab-pane"
             role="tabpanel"
             aria-labelledby="products-tab">
            <article class="row gap-2 p-5">
                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/1.jpg" class="img-fluid" alt='1/2" Super Flexible RF Cable'>
                    </picture>
                    <figcaption>
                        <h4>1/2" Super Flexible RF Cable</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/2.jpg" class="img-fluid" alt='7/8" Flexible RF Cable'>
                    </picture>
                    <figcaption>
                        <h4>7/8" Flexible RF Cable</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/3.jpg" class="img-fluid" alt='Quadplexer'>
                    </picture>
                    <figcaption>
                        <h4>Quadplexer</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/4.jpg" class="img-fluid" alt='Power Splitters'>
                    </picture>
                    <figcaption>
                        <h4>Power Splitters</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/5.jpg" class="img-fluid" alt='Directional Couplers'>
                    </picture>
                    <figcaption>
                        <h4>Directional Couplers</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/6.jpg" class="img-fluid" alt='Termination Loads'>
                    </picture>
                    <figcaption>
                        <h4>Termination Loads</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/7.jpg" class="img-fluid" alt='RF Jumper Cable'>
                    </picture>
                    <figcaption>
                        <h4>RF Jumper Cable</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/8.jpg" class="img-fluid" alt='Directional Wide Band MIMO Antenna 30°'>
                    </picture>
                    <figcaption>
                        <h4>Directional Wide Band MIMO Antenna 30°</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/9.jpg" class="img-fluid" alt='Directional Wide Band MIMO Antenna 60°'>
                    </picture>
                    <figcaption>
                        <h4>Directional Wide Band MIMO Antenna 60°</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/10.jpg" class="img-fluid" alt='Directional Antenna'>
                    </picture>
                    <figcaption>
                        <h4>Directional Antenna</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/11.jpg" class="img-fluid" alt='RF Connectors & Adaptor'>
                    </picture>
                    <figcaption>
                        <h4>RF Connectors & Adaptor</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>

                <figure class="product-card col-md-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                    <picture>
                        <img src="/assets/images/solutions/stadiuem/12.jpg" class="img-fluid" alt='Accessories'>
                    </picture>
                    <figcaption>
                        <h4>Accessories</h4>
                        <a href="#">Explore <i class="fa-solid fa-chevron-right"></i></a>
                    </figcaption>
                </figure>



            </article>
        </div>

        <!-- Enquiry -->
        <div class="tab-pane fade active show"
             id="contact-tab-pane"
             role="tabpanel"
             aria-labelledby="contact-tab">
            <article class="row align-items-stretch p-5">
                <article class="col-md-4">
                    <img src="/assets/images/bg/contact-us.png"
                         alt="Contact Us Img"
                         class="img-fluid h-100 rounded-4">
                </article>
                <article class="col-md-8">
                    <h3>Request A Quote</h3>

                    <input type="text" placeholder="Name*" class="form-control mb-3" required>
                    <input type="number" placeholder="Number*" class="form-control mb-3" required>
                    <input type="text" placeholder="Company Name*" class="form-control mb-3" required>
                    <input type="email" placeholder="Email*" class="form-control mb-3" required>

                    <select class="form-select mb-3" aria-label="Territory selection">
                        <option selected>Territory *</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                    <textarea class="form-control" placeholder="Message..." rows="5"></textarea>

                    <button class="mt-4 btn btn-dark">
                        Submit <i class="fa-solid fa-arrow-up"></i>
                    </button>
                </article>
            </article>
        </div>

    </div>
</article>
