// colors

$primaryColor: #fd7e14;
$backgroundColor: #f5f5f5;
$darkTextColor: #000000;
$lightTextColor: #ffffff;
$grayColor: #5c5c5c;
$borderColor: #0000002d;
$lightBorderColor: rgba(255, 255, 255, 0.2);
$slateGrayColor: #71778e;
$flashWhiteColor: #ebeef2;
$lightGrayColor: #cfd0d1;
$plantinumColor: #ddd;

// BreakPoints

$smallDevices: 600px;
$tablets: 768px;
$mediumDevices: 992px;
$laptops: 1024px;
$largeDevices: 1200px;
